{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="uk-card uk-card-small uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title">Login</h3>
    </div>
    <div class="uk-card-body">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
